<button type="button" class="btn btn-secondary" mat-dialog-close [style]="{'float': 'right'}">Done</button>
<div mat-dialog-title>
  <h5 id="tagsModalTitle"># Tags</h5>
</div>
<div mat-dialog-content>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center"
      *ngFor="let tag of labels; let i = index" [style]="{'color': tag?.color}">
      <div class="badge border" [style]="{ 'background-color': tag.color, 'color': 'white', 'border-color': '#ccc !important' }">
        {{tag?.name | titlecase}}
      </div>
      <span>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck{{i+1}}" [checked]="isChecked(tag)"
            (change)="checkLabels(tag)">
          <label class="custom-control-label" for="customCheck{{i+1}}"></label>
        </div>
      </span>
    </li>
    <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
      <a (click)="redirectToTagsUi()" class="cursor"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>
    </li> -->
  </ul>
</div>
