<div class="modal-header" style="border-bottom: none; padding: 0; margin-right: 10px;">
  <button type="button" class="close" aria-label="Close" mat-dialog-close>
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form" name="form" id="form" [formGroup]="formObj" (ngSubmit)="submit()"
    novalidate>
    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
      <div class="iq-card-body" style="min-height:250px;">
        <div class="row">
          <div class="col-sm-8" style="border-right: 1px solid #ccc">
            <div id="post-modal-data" class="iq-card">
              <div class="iq-card-body" data-toggle="modal" data-target="#post-modal">
                <div class="d-flex align-items-center">
                  <div class="user-img img-fluid" *ngIf="todo">
                    <div class="custom-control custom-radio custom-radio-color-checked custom-control-inline"
                      [ngStyle]="{'margin-right': '0px'}">
                      <input id="task-completed" type="checkbox" class="custom-control-input bg-primary"
                        formControlName="isCompleted">
                      <label class="custom-control-label" for="task-completed"></label>
                    </div>
                  </div>
                  <input type="text" class="form-control rounded" style="border:none;" formControlName="title"
                    placeholder="{{ 'what_todo' | translate }}" #titleInput>
                </div>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-lg-12 col-sm-12">
                <div class="iq-card">
                  <div class="iq-card-body">
                    <div class="acc-edit">
                      <div class="form-group">
                        <textarea class="form-control" id="validationTextarea" placeholder="Add Notes here (Optional)"
                          formControlName="notes"></textarea>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="row mb-1">
              <div class="col-lg-12 col-sm-12">
                <div class="iq-card">
                  <div class="iq-card-body">
                    <ng-container *ngFor="let label of labels">
                      <span *ngIf="isChecked(label)" class="badge border mr-2 cursor"
                        [ngStyle]="{ 'color': label?.color, 'border-color': '#ccc !important' }">#{{label?.name}} <i
                          (click)="checkLabels(label)" class="fa fa-times" aria-hidden="true"></i></span>
                    </ng-container>
                    <span class="badge border border-secondary text-secondary mr-2 cursor"
                      (click)="openListPopup('TAG')"><i class="fa fa-hashtag" aria-hidden="true"></i>Add
                      Tag</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="formObj.value._id && !todo?.parent">
              <div class="col-lg-12">
                <div class="iq-card">
                  <div class="iq-card-body">
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let subTask of todo?.subTasks">
                        <span>
                          <input type="radio" id="customCheck-subTask{{subTask._id}}"
                        class="" (change)="updateSubTask(subTask)">
                        </span>
                        {{subTask?.title}}
                        <span class="badge badge-primary badge-pill" (click)="$event.stopPropagation(); removeSubTask(subTask?._id);">
                          <i class="fa fa-minus-circle cursor" aria-hidden="true"></i>
                        </span>
                      </li>
                   </ul>
                    <div class="acc-edit mt-4" formGroupName="subTodo">
                      <ng-container *ngIf="isSubTaskEvent">
                        <div class="form-group">
                          <label for="subTaskTitle">Add SubTask</label>
                          <input type="text" class="form-control" id="subTaskTitle" formControlName="title">
                        </div>
                        <button type="button" class="btn btn-primary  mr-2"
                          (click)="addSubTask(formObj.value.subTodo)"
                          [disabled]="!formObj.value.title">Save</button>
                        <button type="reset" class="btn iq-bg-danger" (click)="isSubTaskEvent = false;">Cancel</button>
                      </ng-container>
                      <ng-container *ngIf="!isSubTaskEvent">
                        <button type="submit" class="btn btn-primary  mr-2" (click)="isSubTaskEvent = true;">Add
                          SubTask</button>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-sm-4" style="padding-right: 0px;">
            <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
              <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                  <h4 class="card-title"> List: </h4>
                  <div class="btn-group mb-1" role="group" (click)="openListPopup('PROJECT')">

                    <div *ngIf="currentProject else chooseList" class="badge badge-pill badge-primary mr-2 cursor">
                      {{currentProject | titlecase}}</div>
                  </div>
                  <ng-template #chooseList> <span class="text-primary cursor"> Choose </span></ng-template>
                </div>
              </div>
              <div class="iq-card-body">
                <ul class="tikit-lists m-0 p-0">
                  <li class="d-flex mb-4 align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="media-support-info">
                        <h6>Scheduled At: </h6>
                      </div>
                    </div>
                  </li>
                  <li class="d-flex align-items-center justify-content-between" *ngFor="let key of scheduledObjKeys">
                    <button type="button" class="btn rounded-pill mb-3" [ngClass]="{
                            'btn-outline-primary': formObj.value.scheduledType !== scheduledObj[key].slug,
                            'btn-primary': formObj.value.scheduledType === scheduledObj[key].slug
                          }" (click)="openListPopup('DATE', scheduledObj[key].slug)">
                      <span *ngIf="scheduledObj[key].slug === 'CUSTOM'">
                        {{ formObj.value.scheduledDate? (formObj.value.scheduledDate | date: 'YYYY-MM-dd'):
                        scheduledObj[key].name}}
                      </span>
                      <span *ngIf="scheduledObj[key].slug !== 'CUSTOM'">{{scheduledObj[key].name}}</span>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-primary d-block w-100 mb-1" [disabled]="!formObj.valid || isSubmit">
      <span *ngIf="formObj.value._id" class=" mr-2">{{'save_changes' | translate}}</span>
      <span *ngIf="!formObj.value._id">{{'save' | translate}}</span>
      <mat-icon *ngIf="isSubmit"><mat-spinner diameter="20" color="accent"></mat-spinner></mat-icon>
    </button>
  </form>
</div>
