/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';


/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@import './assets/facelift/css/bootstrap.min.css';
@import './assets/facelift/css/typography.css';
@import './assets/facelift/css/style.css';
@import './assets/facelift/css/responsive.css';
// @import './assets/facelift/css/flatpickr.min.css';
@import '~ngx-toastr/toastr.css';

.cursor {
  cursor: pointer;
}

.modal-content {
    border-radius: 15px;
}
.card {
    border-radius: 15px;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}
